body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 56px;
  background-color: gray;
}

/* .nav {
  padding: 0%;
  color: antiquewhite;
  color: antiquewhite !important;
} */
.navback {
  /* background-color: aqua; */
  /* background-image: url('../images/lies-of-p-exhibition.png'); */
  /* padding: 0.5rem; */
  /* border: solid darkblue thick; */
  /* color: antiquewhite; */
}
.content {
  background-image: url('../images/lies-of-p-exhibition.png');
  color: antiquewhite;
  padding-left: 0%;
  color: antiquewhite;
  height: 300px;
}

.subcontent {
  background-color: aqua;

  height: 300px;
  color: antiquewhite;
}

#game-reviews {
  background-image: url('../images/lies-of-p-exhibition.png');
}
#game-finder {
  background-image: url('../images/lies-of-p-fire.png');
}
#game-calendar {
  background-image: url('../images/lies-of-p-parade.png');
}
