body {
  background-color: aquamarine;
}

#name {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subheading {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin: auto;
  width: 15%;
  height: auto;
  border: solid rgb(17, 17, 153);
  border-radius: 50%;
}

.section {
  display: flex;
  background-color: rgb(42, 130, 197);
  color: rgb(134, 231, 226);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem;
  border: solid rgb(17, 17, 153);
  border-radius: 10px;
}

.paragraph {
  border-top: solid thin gray;
  border-bottom: solid thin gray;
  padding: 1em;
}
