body {
  background-color: rgba(91, 117, 131, 0.971);
}

.nav {
  border-bottom: solid;
  border-bottom-style: groove;
  border-color: antiquewhite;
  color: rgb(9, 9, 103);
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
}

.navbar {
  padding-right: 1em;
  padding-top: 1em;
}
a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: rgb(9, 9, 103);
}

a:visited {
  color: antiquewhite;
}

#name {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
}

.subheading {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(9, 9, 103);
}

.tagline {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(9, 9, 103);
  text-align: center;
}

.photo {
  display: block;
  margin: auto;
  width: 15%;
  height: auto;
  border: solid rgb(17, 17, 153);
  border-radius: 15%;
}

.section {
  display: flex;
  background-color: rgb(42, 130, 197);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.25rem;
  border: solid rgb(17, 17, 153);
  border-radius: 10px;
}

.paragraph {
  border-top: solid thin lightgray;
  border-bottom: solid thin lightgray;
  padding: 1.5em;
  color: antiquewhite;
}

.heading {
  color: rgb(9, 9, 103);
}

.blog {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
  gap: 0.25em;
  background-color: rgb(42, 130, 197);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.25em;
  border: solid rgb(17, 17, 153);
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

button {
  background-color: rgb(17, 17, 153);
  border: solid 0.25em rgb(17, 17, 153);
  border-radius: 15px;
  border-style: groove;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: antiquewhite;
  width: 100px;
  height: 50px;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 50%;
    gap: 0.25em;
  }
}

.core {
  grid-column-start: 2;
}

span {
  font-weight: bold;
  color: darkblue;
}

.code-snippet {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}
